$media-width: 670px;
$narrow-width: 560px;

.hover {
  color: #25b6d2;
  transition: ease-in-out 0.2s;
}

.header {
  position: fixed;
  width: 100%;
  display: flex;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  height: 65px;
  background-color: #ffffff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  z-index: 5;

  .burger_wrapper {
    position: fixed;
    right: 3.33%;
    top: 20px;
    filter: opacity(0.5);
    cursor: pointer;
    width: 25px;
    height: 25px;
    z-index: 50;
  }

  .burger {
    @extend .burger_wrapper;

    display: none;
    font-size: 25px;
    z-index: 40;

    @media (max-width: $narrow-width) {
      display: block;
    }
  }

  .rotate {
    transform: rotate(90deg);
    transition: 0.4s ease-in-out;
  }

  .user {
    height: 42px;
    align-self: center;
    margin: 0 3.33%;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
      transition: ease-in-out 0.2s;
    }
  }

  .user-links {
    opacity: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 180px;
    height: 112px;
    left: 3.3%;
    top: 56px;
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    z-index: 999;
    transition: ease-in-out 0.2s;

    span {
      display: inline-flex;
      align-items: center;
      padding: 7px 25px 7px 20px;
      border-radius: 320px;
      background-color: #fff;
      cursor: pointer;

      &:hover {
        @extend .hover;

        a {
          @extend .hover;
        }
      }
    }

    .profile {
      @extend span;
      &::before {
        content: url("./img/settings.png");
        margin-right: 25px;
      }
    }

    .active {
      background-color: #25b6d2;
      color: #ffffff;
      transition: ease-in-out 0.2s;
    }

    .exit {
      outline: none;

      &::before {
        margin-right: 25px;
        content: url("./img/exit.png");
      }
    }

    .login {
      @extend .profile;
      @extend .exit;
    }
  }

  .short {
    height: 50px;
  }

  .statistic {
    position: absolute;
    right: 3.33%;

    &:hover {
      @extend .hover;
    }
  }

  .navigation {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;

    @media (max-width: $media-width) {
      font-size: 0.8em;
      margin: 0 auto;
    }

    @media (max-width: $narrow-width) {
      position: fixed;
      flex-direction: column;
      gap: 15px;
      padding-top: 65px;
      width: 200px;
      height: 100vh;
      right: -100vw;
      top: 0;
      box-shadow: -3px 0px 5px rgb(0 0 0 / 10%);
      background: #ffffff;
      z-index: 30;
      animation-name: right;
      transition: right 0.4s;
  }

    li {
      margin: 0 1vw;

      a {
        padding: 7px 25px;
        border-radius: 320px;
      }

      @media (max-width: $media-width) {
        margin: 5px 0;
      }

      .active {
        background-color: #25b6d2;
        color: #ffffff;
        transition: ease-in-out 0.2s;

        @media (max-width: $narrow-width) {
          background-color: #ffffff;
          color: #25b6d2;
        }
      }

      a:hover {
        @extend .active;
      }
    }
  }

  .opened {
    right: 0;
  }

  a,
  .user-links {
    color: #37383c;
  }

  .hidden {
    opacity: 0;
  }

  @keyframes right {
    from {
      left: 100%;
    }
    to {
      left: 0;
    }
  }
}
