$media-width: 574px;

.footer {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0px 8.33%;
  height: 50px;
  width: 100%;
  font-size: 10px;
  line-height: 12px;
  color: #F8F2EE;
  background-color: #37383C;

  @media (max-width: $media-width) {
    justify-content: center;
  }
}
