.profile-wrapper {
  max-width: 853px;
  margin: 0 auto;

  .profile-block {
    background: #ffffff;
    border: 1px solid #c4c4c4;
    border-radius: 10px;
    padding: 20px 30px;
    width: 100%;
    min-height: 66vh;
  }
}