$media-width: 699px;

.wrong-color {
  background-color: red;
  border-color: red;
}

.right-color {
  background-color: green;
  border-color: green;
}

html,
body {
  margin: 0;
  font-family: Rubik, "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
  "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.dictionary,
.rules,
.tasks {
  background: #f8f2ee;
  min-height: calc(100vh - 115px);

  .container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 35px 0;
  }

  .tab-list {
    border-bottom: 1px solid #c4c4c4;
    padding: 0;
    margin: 0;
  }

  .tab {
    font-family: Rubik, sans-serif;
    font-size: 18px;
    display: inline-block;
    border: 1px solid transparent;
    border-bottom: none;
    bottom: -1px;
    position: relative;
    list-style: none;
    padding: 12px 30px;
    margin-right: 15px;
    cursor: pointer;
    border-radius: 10px 10px 0 0;
    outline: none;
    user-select: none;
  }

  .a2-words,
  .a2-tasks,
  .a2-rules {
    color: #fff;
    background: #32bea6;
  }
  .b1-words,
  .b1-tasks,
  .b1-rules {
    background: #ffd07d;
  }
  .b2-words,
  .b2-tasks,
  .b2-rules {
    color: #fff;
    background: #8ba0ae;
  }
  .it-words,
  .it-tasks,
  .it-rules {
    color: #fff;
    background: #25b6d2;
  }

  .react-tabs__tab--selected {
    background: #fff;
    border-color: #c4c4c4;
    color: black;
  }

  .tab-panel {
    background: #fff;
  }

  .react-tabs__tab-panel--selected {
    padding: 20px 30px 20px 30px;
    border-left: 1px solid #c4c4c4;
    border-right: 1px solid #c4c4c4;
    border-bottom: 1px solid #c4c4c4;
    border-radius: 0 0 10px 10px;
    min-height: 66vh;
  }

  .ant-menu-inline .ant-menu-submenu {
    font-family: Rubik;
    font-style: normal;
    font-size: 18px;
    border-bottom: 1px solid #f0f0f0;
  }

  .ant-menu-sub.ant-menu-inline {
    background: #ffffff;
    font-size: 16px;
  }

  .ant-menu-sub.ant-menu-inline > .ant-menu-item.rules-item {
    height: 100%;

     span {
      display: block;
    }
  }

  .ant-menu-sub.ant-menu-inline > .ant-menu-item.words-item {
    height: 100%;

    span {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .ant-checkbox-wrapper,
  .ant-radio-wrapper {
    font-size: 16px;
  }

  .ant-checkbox-wrapper.wrong {
    .ant-checkbox-inner {
      @extend .wrong-color;
    }
  }

  .ant-checkbox-wrapper-checked.right {
    .ant-checkbox-inner {
      @extend .right-color;
    }
  }

  .ant-radio-wrapper.wrong {
    .ant-radio-inner {
      @extend .wrong-color;
    }
  }

  .ant-radio-wrapper-checked.right {
    .ant-radio-inner::after {
      @extend .right-color;
    }
  }

  .hidden {
    display: none;
  }
}
